.DS_Store
*.o
*.d
counter/samples/*
**/#*
check
conformance_check
tests
run_yaml
./unit-test
.vscode/*
logs/*
build
html
Debug/*
Release/*
.idea/
.vs/
CMakeSettings.json
cmake-build-debug/
cmake-build-release/
cmake-build-sanitize/
coverage/