[submodule "ebpf-samples"]
	path = ebpf-samples
	url = https://github.com/vbpf/ebpf-samples.git
[submodule "external/radix_tree"]
	path = external/radix_tree
	url = https://github.com/ytakano/radix_tree
[submodule "external/ELFIO"]
	path = external/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "external/bpf_conformance"]
	path = external/bpf_conformance
	url = https://github.com/Alan-Jowett/bpf_conformance.git
[submodule "external/libbtf"]
	path = external/libbtf
	url = https://github.com/Alan-Jowett/libbtf.git
